<p>
  <b>Title:</b>
  <%=h @provider.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @provider.description %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @provider.url, @provider.url %>
</p>

<p>
  <b>Endpoint:</b>
  <%= link_to @provider.endpoint, "#{@provider.endpoint}#{("?verb=Identify" if @provider.endpoint) || "" }" %>
</p>

<p>
  <b>Metadata Prefix:</b>
  <%=h @provider.metadata_prefix %>
</p>

<p>
  <b>Set:</b>
  <%=h @provider.set %>
</p>

<p>
  <b>Last Consumed At:</b>
  <%= time_ago_in_words @provider.last_consumed_at %> ago (<%=h @provider.last_consumed_at %>)
</p>

<p>
  <b>Interval:</b>
  every <%=h time_ago_in_words @provider.interval.seconds.from_now  %> (<%=h @provider.interval %> seconds)
</p>

<p>
  <b>Set:</b>
  <%=h @provider.set %>
</p>
<p>
  <b>Stylesheet:</b>
  <%=h @provider.stylesheet %>
</p>

<% form_for @provider, :url => harvest_provider_path(@provider), :html => { :method => :post } do |f| %>
  <%= f.submit "Harvest" %>
<% end %>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
